<div class="row">
  <div class="twelve columns">
    <h1 class="image-text-overlay">Where are you going?</h1>
    <div class="button-container">
      <a class="button button-primary" href="/users/sign_in">Log In</a>
      <a class="button button-primary" href="/users/sign_up">Sign Up</a>
    </div>

    <img class="img-home" src="https://unsplash.it/g/960/500?image=<%= random_image %>"></img>
  </div>
</div>
