<!DOCTYPE html>
<html>
<head>
  <title>Pathfinder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <!-- Fonts -->

  <!-- Require mapbox CDNs -->
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.css' rel='stylesheet' />
  <!------------------------->

</head>
<body>
  <div class="container">

    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item">
            <a class="navbar-link" href="/users/sign_out" data-method="delete">Sign out</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="">Something</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="">Something</a>
          </li>
        </ul>
      </div>
    </nav>


    <%= yield %>
  </div>

</body>
</html>
