<!DOCTYPE html>
<html>
<head>
  <title>Pathfinder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
  <!-- Fonts -->

  <!-- Require mapbox CDNs -->
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.css' rel='stylesheet' />
  <!------------------------->

</head>
<body>
  <div class="container">

    <nav class="navbar">
      <ul class="navbar-list">
        <li class="icon-logo" id="logo">
          <i class="fa fa-map-o" aria-hidden="true"></i>
        </li>
        <li class="navbar-item">
          <a class = "navbar-link" id="logo-text" href="/">Pathfinder</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="/trips">Trips</a>
        </li>
        <li class="navbar-item" id="sign-out">
          <a class="navbar-link" href="/users/sign_out" data-method="delete">Sign out</a>
        </li>
      </ul>
    </nav>


    <%= yield %>
  </div>

</body>
</html>
